{% load i18n pages_tags mezzanine_tags static keyword_tags event_tags organization_tags %}
{% if settings.USE_MODELTRANSLATION and languages|length > 1 %}
    {% nevercache %}
        {% include "includes/language_selector.html" %}
    {% endnevercache %}
    <p class="lang-switcher" id="langSelector">
        {% for language in languages %}
            <span class="lang-switcher__item {% if language.code == LANGUAGE_CODE %}active{% endif %}">
                <a {% if language.code != LANGUAGE_CODE %}class="link_active"{% endif %} href="#" data-lang="{{ language.code }}">
                  {{ language.code|title }}
                </a>
            </span>
            {% if forloop.counter == 1 %}
                <span class="lang-switcher_language_separator">|</span>
            {% endif %}
        {% endfor %}
    </p>
{% endif %}
