{% load i18n mezzanine_tags %}
<div id="side-panel">
<div class="dropdown-menu">
<ul>
    {% for app in dropdown_menu_app_list %}
    <li>
        <a href="#">{% trans app.name %}</a>
        <ul class="dropdown-menu-menu">
        {% for model in app.models %}
            {% if model.perms.add or model.perms.change or model.perms.custom %}
            <li{% if forloop.first %} class="first"{% endif %}><a
                href="{% if not model.perms.change and not model.perms.custom %}{{ model.add_url }}{% else %}{{ model.admin_url }}{% endif %}">{{ model.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% if settings.USE_L10N and LANGUAGES|length > 1 %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info_list for LANGUAGES as languages %}
<form id="language-form" method="post" action="{% url 'set_language' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <select name="language">
        {% for lang in languages %}
            <option {% if LANGUAGE_CODE == lang.code %}selected{% endif %} value="{{ lang.code }}">{{ lang.name_local }}</option>
        {% endfor %}
    </select>
    <script>
        document.querySelector("select[name='language']").onchange = function(e){
            document.getElementById("language-form").submit()
        }
    </script>
</form>
{% endif %}

{% if dropdown_menu_sites and dropdown_menu_sites|length > 1 %}
<form>
    <input type="hidden" name="next" value="{{ request.path }}">
    <select name="site_id">
        {% for site in dropdown_menu_sites %}
        <option value="{{ site.domain }}"
            {% if site.id == dropdown_menu_selected_site_id %} selected{% endif %}
            >{{ site }}</option>
        {% endfor %}
    </select>
</form>
<script>
    document.querySelector("select[name='site_id']").onchange = function(e){
        window.location.replace(
            window.location.protocol + "//" + e.target.value + window.location.pathname
        );
    }
</script>
{% endif %}
</div>
<div id="side-panel-toggle"></div>
</div>
