<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>
  <p>Bonjour {{ first_name }},</p>

  <p>Si votre profil correspond à nos recherches, le service des ressources humaines vous recontactera.</p>
  <p>Si nous ne prenons pas contact avec vous dans un délai de 6 semaines, nous vous remercions de bien vouloir considérer que nous ne donnons pas une suite favorable à votre candidature dans l'immédiat. En outre, et sauf avis contraire de votre part, nous nous permettons de conserver votre dossier pour une éventuelle exploitation ultérieure.</p>
  <p>Cordialement</p>
  <br>
  <p>Ircam - Centre Pompidou<br>
Service des Ressources Humaines<br>
1 place Igor Stravinsky<br>
75004 Paris</p>

  <p>Bonne journée ! :)</p>
</body>
</html>
